body {
  background-color: #e5e2e0;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 3rem;
}

.svg-wrapper,
#tooltip {
  position: relative;
  background-color: white;
  padding: 3rem;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
}

#title {
  font-size: 1.25rem;
}

.title-small {
  font-size: 1rem;
}

.bar {
  fill: #137b80;
}

#tooltip {
  padding: 1rem;
  position: absolute;
  border-radius: 10px;
  transition: opacity 0.2s, visibility 0.2s;
  font-size: 1rem;
  color: white;
  background-color: black;
  text-align: center;
}

.tick {
  font-size: 0.75rem;
}
